html {
  /*background: url(/style/black-Linen_@2X.png);*/
  /*color: white;*/
  text-align: center;
}

.link {
  stroke: black;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

/*.node:not(:hover) text {
  display: none;
}*/
