body {
  text-align: center;
  background: url(/style/snow.png);
}

.headline {
  width: 65%;
}

.search-bar {
  color: black;
  margin: 10px;
}

ul {
  list-style-type: upper-roman;
  width: 170px;
  background-color: #fefefe;
  margin: auto;
  border-radius: 3px;
  border: 1px solid #888;
}

.ui-helper-hidden-accessible {
  display: none;
}

.link {
  stroke: grey;
}

.node text {
  pointer-events: none;
  font-style: normal;
}

.node:not(:hover) text {
  display: none;
}

.link text {
  pointer-events: none;
  font-style: normal;
}

.edgelabel:not(:hover) text {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  text-align: left;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #888;
  width: 60%;
}

#profile-pic {
  text-align: right;
}

#profile-pic img {
  width: 100%;
}

#github-link {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.fa {
  color: black;
  font-size: 2em;
}
