body {
  background: url(/style/black-Linen_@2X.png);
  color: white;
  text-align: center;
}

.ui-widget {
  color: black;
  margin: 10px;
}

.link {
  stroke: white;
}

.node {
  border-radius: 50%;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.node image {
  border-radius: 10px;
}

.node:not(:hover) text {
  display: none;
}
